<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" [(ngModel)]="nombre">
          </div>
          <div class="form-group">
            <label for="ape_paterno">Apellido paterno</label>
            <input class="form-control" type="text" name="ape_paterno" [(ngModel)]="ape_paterno">
          </div>
          <div class="form-group">
            <label for="ape_materno">Apellido materno</label>
            <input class="form-control" type="text" name="ape_materno" [(ngModel)]="ape_materno">
          </div>
          <div class="form-group">
            <label for="edad">Edad</label>
            <input class="form-control" type="text" name="edad" [(ngModel)]="edad" maxlength="3">
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input class="form-control" type="text" name="correo" [(ngModel)]="correo">
          </div>
          <div class="form-group">
            <button class="btn btn-success" *ngIf="!id_persona" (click)="registrarPersona()">Crear</button>
            <button class="btn btn-warning" *ngIf="id_persona" (click)="editarPersona()">Editar</button>
            <button class="btn btn-default" [routerLink]="['/']">Regresar</button>
          </div>
    </div>
  </div>
</div>
